/java/cisc_190/NetBeans/Intro/FirstProgram/MainClass/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/MainClass/build/
/java/cisc_190/NetBeans/Intro/FirstProgram/BattingAverage/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/BattingAverage/build/
/java/cisc_190/NetBeans/Intro/FirstProgram/StringDemo/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/StringDemo/build/
/java/cisc_190/NetBeans/Intro/FirstProgram/ScopeDemo/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/ScopeDemo/build/
/java/cisc_190/NetBeans/Intro/FirstProgram/ReadingKeyboardInput/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/ReadingKeyboardInput/build/
