/java/cisc_190/NetBeans/Intro/FirstProgram/MainClass/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/MainClass/build/
/java/cisc_190/NetBeans/Intro/FirstProgram/BattingAverage/nbproject/private/
/java/cisc_190/NetBeans/Intro/FirstProgram/BattingAverage/build/
